apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: military-tracker
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'military-aircraft-svc'
        static_configs:
          - targets: ['military-aircraft-svc:9090']

      - job_name: 'aircraft-db-ingestor'
        static_configs:
          - targets: ['aircraft-db-ingestor:9090']

      - job_name: 'geo-ingestor'
        metrics_path: '/actuator/prometheus'
        static_configs:
          - targets: ['geo-ingestor:8081']

      - job_name: 'military-watcher-api'
        static_configs:
          - targets: ['military-watcher-api:9090']

      - job_name: 'kubernetes-pods'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names:
                - military-tracker
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
            action: keep
            regex: true
          - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
            action: replace
            target_label: __metrics_path__
            regex: (.+)
          - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
            action: replace
            regex: ([^:]+)(?::\d+)?;(\d+)
            replacement: $1:$2
            target_label: __address__
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod
