apiVersion: kafka.strimzi.io/v1
kind: KafkaBridge
metadata:
  name: military-tracker-bridge
  namespace: military-tracker
spec:
  replicas: 1
  bootstrapServers: military-tracker-kafka-kafka-bootstrap:9092
  http:
    port: 8080
  consumer:
    config:
      auto.offset.reset: earliest
  producer:
    config:
      acks: "all"
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: kafka-bridge
  namespace: military-tracker
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30880
      name: http
  selector:
    strimzi.io/cluster: military-tracker-bridge
    strimzi.io/kind: KafkaBridge
